{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "import/prefer-default-export": 0,
    "import/no-unresolved": 0,
    "no-shadow": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ]
  },
  "globals": {
    "window": true,
    "document": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
